.root {
  display: flex;
  gap: 0.5rem;
  align-items: flex-start;

  .commentAuthorAndContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .commentAuthorInfo {
      text-align: left;

        .commentAuthorName {
          font-weight: bold;
        }

        .commentAuthorPosition {
          font-size: 0.8rem;
          color: #6e6e6e;
        }
    }
  }
}