.root {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  position: relative;

  .top {
    display: flex;
    background-color: white;
    padding: 1rem;
    gap: 1rem;

    img {
      height: 4rem;
      width: 4rem;
      border-radius: 50%;
      object-fit: cover;
    }

    .authorInfo {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .authorName {
        font-weight: bold;
        font-size: 1.1rem;
        border-bottom: 1px solid transparent;
      }

      .authorName:hover {
        color: var(--primary-color);
        border-bottom: 1px solid;
      }

      .authorPosition {
        font-size: 0.9rem;
        color: #6e6e6e;
      }
    }
  }

  .editPostButton {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border-radius: 45%;
    padding: 0.5rem;
  }

  .postEditOptions {
    display: flex;
    flex-direction: column;
    background-color: #d4d4d4;
    align-items: flex-start;
    position: absolute;
    border-radius: 0.3rem;
    padding: 0.5rem;
    top: 3rem;
    right: 1.2rem;

    button:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }

  .editPostButton:hover {
    background-color: #d4d4d4;
  }

  .center {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
    margin-bottom: 0.2rem;
    gap: 2rem;

    .stats {
      display: flex;
      justify-content: space-between;
      font-size: 0.8rem;
    }


    .content {
      margin: 0 -1rem;

      .postContent {
        padding: 1rem;
      }
    }

    .commentsStat {
      border-bottom: 1px solid transparent;
    }

    .commentsStat:hover {
      color: var(--primary-color);
      border-bottom: 1px solid;
    }
  }

  .bottom {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 1rem;

    button {
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
    }

    button:hover {
        background-color: #d4d4d4;
      }

    button.active {
      color: var(--primary-color);
    }

    .likes {
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }

    .commentButton {
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }
  }

  .commentsSection {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: white;

    img {
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      object-fit: cover;
    }

    .commentSectionTop {
      display: grid;
      grid-template-columns: auto 1fr;
      gap: 1rem;
      margin-bottom: 2rem;
      align-items: center;
      position: relative;

      .commentBox {
        border: 1px solid #6e6e6e;
        border-radius: 2rem;
        padding: 1rem;
        font-size: 0.9rem;
      }

      .commentInputOptions {
        display: flex;
        gap: 0.7rem;
        align-items: center;
        position: absolute;
        top: 0.8rem;
        right: 1.5rem;

        svg {
          height: 1.7rem;
          width: 1.5rem;
        }
      }
    }


    .commentsList {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}