.root {
    .disclaimer {
        font-size: 0.8rem;
    }

    .register {
        text-align: center;
    }

    .error {
        color: red;
        margin: 1rem 0;
        font-size: 1rem;
    }
}